<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BlockChainEntities" connectionString="metadata=res://*/Entity.BlockChainEntity.csdl|res://*/Entity.BlockChainEntity.ssdl|res://*/Entity.BlockChainEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BlockChain;persist security info=True;user id=BlockChainLogin;password=BlockChainPwd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="AirQualityApiUri" value="http://api.luftdaten.info/v1/filter/country=LU"/>
    <add key="Forecast5Days" value="Meteo\data_LUX_forecast_days.csv"/>
    <add key="Forecast" value="Meteo\data_LUX_global.csv"/>
    <add key="PisteVtt" value="PisteVTT\Pistes_VTT.geojson"/>
    <add key="PisteCyclable" value="PisteCyclable\Pistes_cyclables_nationales.geojson"/>
    <add key="Musee" value="Musee\Musée.csv"/>
  </appSettings>
</configuration>