@model IEnumerable<BlockCycle.Model.Course>

@{
    ViewBag.Title = "Home Page";
}

@*<br />
@foreach (var item in Model)
{
    @Html.ActionLink(@item.Name, "Index", "Course", new { idCourse = item.PrivateKey }, null)
    @item.Description


    <br />
}*@
<section class="top-header">
    <div class="overlay">
        <div class="container">
            <div class="center">
                <img src="~/images/logo-blockcycle.svg" alt=" logo of BlockCycle" />
                <p class="lead text-muted white">Your hosted bikemap wallet</p>
                <br />
                @*<a href="#"> See it a life</a>*@
            </div>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/luxembourg.jpg">
                    <div class="card-body">
                        <span class="ei-metre icons"> 30km/h</span>
                        <span class="ei-road icons"> 5km</span>
                        <span class="icons"> 00:10:00</span>
                        <br />
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/Course?idCourse=1" class="link-btn">view</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/background.PNG">
                    <div class="card-body">
                        <span class="ei-metre icons"> 25km/h</span>
                        <span class="ei-road icons"> 10km</span>
                        <span class="icons"> 00:23:01</span>
                        <br />
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/Course?idCourse=1" class="link-btn">view</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/images/index-background.PNG">
                    <div class="card-body">
                        <span class="ei-metre icons"> 27km/h</span>
                        <span class="ei-road icons"> 15km</span>
                        <span class="icons"> 00:30:12</span>
                        <br />
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/Course?idCourse=1" class="link-btn">view</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

