@model BlockCycle.UI.ViewModel.MobileVM 
    
<div id ="geolocalisationInfo">
    @if (Model != null)
    {
    <p>
        Latitude: @Model.Latitude
        Longitude: @Model.Longitude
    </p>
    }
   
</div>
