
<div id="bikeInfo">
    <p>Blockchain</p>     
   
    <ul id="blockchain-module">
        @*@if (Model.Ant != null)
    {
        <li>
            <p>@Model.Ant.Cadence</p>
            <p>@Model.Ant.Speed</p>
            <p>@Model.Ant.Distance</p>
        </li>
}*@
        <li >
            <div class="left">
                <span class="key">KEY: kjklasdedfui</span><br />
                <span class="gps"> GPS: 49.6006771 / 6.1144914,3a</span><br />
                <span class="speed">Speed: 20km/h</span><br />
            </div>
            <div class="right">
                <span>+</span>
            </div>

        </li>
        <li class="active">
            <div class="left">
                <span class="key">KEY: kjklasdedfui</span><br />
                <span class="gps"> GPS: 49.6006771 / 6.1144914,3a</span><br />
                <span class="speed">Speed: 20km/h</span><br />
            </div>
            <div class="right">
                <span>+</span>
            </div>

        </li>

    </ul>
</div>