<section id="aside-left" class="container aside">
    <div class="row" id="aside-left-top">
        <div class="col">
            <img src="~/images/logo-aside.svg" alt=" logo of BlockCycle" />
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <div class="block-info">
                <span class="data">03 : 00</span>
                <span class="type">Duration</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <div class="block-info">
                <span class="data"><b class="countdown">1:00</b></span>
                <span class="type">Your Time</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            @*<img src="~/images/logo-aside.svg" alt=" logo of BlockCycle" />*@
            <div class="block-info">
                <span class="ei-metre icons"></span>
                <span class="data speed-m">9</span>
                <span class="type">Speed</span>
            </div>
            <span class="corner-info">km/h</span>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            @*<img src="~/images/logo-aside.svg" alt=" logo of BlockCycle" />*@
            <div class="block-info">
                <span class="ei-road icons"></span>
                <span class="data distance-value">0.2</span>
                <span class="type">Distance</span>
            </div>
            <span class="corner-info">km</span>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            @*<img src="~/images/logo-aside.svg" alt=" logo of BlockCycle" />*@
            <div class="block-info">
                <span class="ei-mountain icons"></span>
                <span class="data">294</span>
                <span class="type">Altitude</span>
            </div>
            <span class="corner-info">m</span>
        </div>
    </div>
</section>