<section id="aside-right" class="container aside">
    <div class="content">
        <div class="poi-notification">
            <div class="left">
                <span class="ei-bank icon"></span>
                <span><b class="text">300</b> m</span>
            </div>
            <div class="right">
                <div class="text">

                        La maison de la jeunesse

                </div>
            </div>

        </div>
        <div class="map">
            @Html.Partial("_Map")

        </div>
    </div>
    
</section>